[COMMON]
# The system definition
system = CYBER-IATOMS

# The systemName definition
systemName = iatoms

# The locale for which a resource bundle is desired 
locale = zh_TW

# The resource boundle list
#resource.boundle.1 = cafe.core.messages.cafe_core_messages
#resource.boundle.2 = cafe.workflow.messages.cafe_workflow_messages
resource.boundle.3 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_messages
resource.boundle.4 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms

# The temporal folder setting is for http upload
temp.dir = /temp
session.timeout.redirecturl = /logout.do?action=timeout
#
service.application.context = cyber-iatoms-application-context.xml

# The security policy. 
# The password file stores all servers or interfaces's id/password.
# If this property is empty, it means the id/password would be used in its specific module item setting.
#passwordFile = /cafe_example.pwd
workLogFromDay = 21
workLogEndDay = 20
expireDay = 3

# The TMSprocess URL
TMSURL = http://192.168.96.19:8082/api/TMSpara/
###########MAIL SENDER#########
[MAIL]
host =192.168.93.251
fromMail =echomou@cybersoft4u.com

###########FILE SENDER#########
[FILE_PATH]
#temp directory
FILE_TEMP_PATH = c:\\IATOMS\\TEMP
#upload directory
UPLOAD_PATH = c:\\IATOMS\\UPLOAD_PATH
#case templates directory
CASE_TEMPLATES_PATH = c:\\IATOMS\\CASE_TEMPLATES
#batch process directory
BATCH_FLAG_PATH = c:\\IATOMS\\BATCH_FLAG
#TMS DATA PATH
FILE_TRANSFER_PATH = c:\\iAtomsFTP
#case template file import path
CASE_TEMPLATES_IMPORT_PATH = c:\\IATOMS\\UPLOAD_PATH\\SRM05010\\1\\
#case template file export path
CASE_TEMPLATES_EXPORT_PATH = c:\\IATOMS\\FIS_CASE\\

##########DISPATCH_INFORMATION##########
[DISPATCH_INFORMATION]
#COMPANY_ID
COMPANY_ID = 1510733811474-0000_2
#DISPATCH_DEPT_ID
DISPATCH_DEPT_ID = 1510733811552-0000

###########CYBER_AUTHENTICATION#########
[CYBER_AUTHENTICATION]
ACCOUNT = +iWLAhs5xbregJpn5iloOImzR+U2O3HSw+fME3pLdyM=
PASSWORD = J23FG69cBhrvi/1uhD14noWpw/E/YYl+wjdnsBnPw10=

###########SETTING#########
[SETTING]
#upload_file_size(unit:KB,1000KB = 1MB,5000 express 5MB)
UPLOAD_FILE_SIZE = 5000

###########LDAP_AUTH#########
[LDAP_AUTH]

#domain authentication domain server URL
ldapUrl = ldap://192.168.92.30:389

#domain authentication security proof
ldapSecurity = simple

#domain validation agent account
ldapSecurityPrincipal = @cybersoft4u.com.tw

#domain authentication user level
ldapLevel = user

#domain authentication network domain name
domainName = DC=cybersoft4u,DC=com,DC=tw

###########DATABASE#########
[IATOMS_DATABASE]
url = jdbc:jtds:sqlserver://192.168.93.123;DatabaseName=IATOMS
user = +ahNiUTpru6hfKagZTmA7gFicw/dYkjRNErW6hXlwJ0=
pwd = oJxllNuvcjJGkmoOomfz79QHbhrX7cgkuhubHswiO1s=

[FOMS_DATABASE]
url = jdbc:jtds:sqlserver://192.168.95.39;DatabaseName=FOMS
user = 0sscwVaTWPtYCN6N37RPSUPRPwDfUmqvbfW/uAfRebo=
pwd = 0sscwVaTWPtYCN6N37RPSUPRPwDfUmqvbfW/uAfRebo=

[CMS_IP_FLAG]
ip = 192.168.96.33
###########ATOMS_FTPS#########
[ATOMS_FTPS]
name=B2B18_FTPS
pwd=FTP_0012
ip=192.168.96.14
port=990
ftpsPath=/CYBER/SYS_IN/